body {
    overflow-x: hidden;
    background-color: $backgroundColor;
}

* {
    font-family: "mainFont";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    animation-name: slide_up;
    animation-duration: 0.4s;
    display: none;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 9.6rem);
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    img {
        position: absolute;
    }

    &[class~=show] {
        display: block;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    * {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.hide {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nino_Mtavruli", sans-serif;
}

@media screen and (min-width: 1980px) {
    :root {
        font-size: 25px;
    }
}